# compilation and distribution
__pycache__/
SparseConvNet/

# ignore all data folders anywhere
data/

# outputs
output/
day_night/
traintxt/

# files
*.png
*.pth
*.pt
*.npy

# PyCharm / VSCode
.idea
.vscode/

# misc
analysis/
BUS/
viz/